name: AWS SAM Build and Test

on:
  push:
    branches:
      - main  # Trigger this workflow on pushes to the main branch
  pull_request:
    branches:
      - main  # Also run on pull requests targeting the main branch

jobs:
  sam-build-test:
    runs-on: ubuntu-latest  # Use the latest Ubuntu runner

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'  # Use the appropriate version of Python

      # Install AWS SAM CLI
      - name: Install AWS SAM CLI
        run: |
          curl -sSL https://github.com/aws/aws-sam-cli/releases/latest/download/aws-sam-cli-linux-x86_64.zip -o sam-cli.zip
          unzip sam-cli.zip -d sam-cli
          sudo ./sam-cli/install --update

      # Install dependencies from the requirements file
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r lambda_functions/aggregator/requirements.txt  

      # Build the AWS SAM project
      - name: Build the AWS SAM project
        run: |
          sam build

      # Validate SAM template
      - name: Validate SAM template
        run: | 
          sam validate --lint

      # Run unit tests for the Lambda function using unittest
      - name: Run unit tests for Lambda function
        run: |
          cd tests  
          python -m unittest discover -s . -p 'test_aggregation.py'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1


      - name: Deploy to AWS SAM
        run: |
          sam deploy --config-file samconfig.toml \
            --parameter-overrides \
            UploadBucketName="${{ secrets.UPLOAD_BUCKET_NAME }}" \
            AthenaBucketName="${{ secrets.ATHENA_BUCKET_NAME }}" \
            KinesisStreamName="${{ secrets.KINESIS_STREAM_NAME }}" \
            DynamoDBTableName="${{ secrets.DYNAMODB_TABLE_NAME }}" \
            DynamoDBTableReadCapacityUnits="${{ secrets.DYNAMODB_TABLE_READ_CAPACITY_UNITS }}" \
            DynamoDBTableWriteCapacityUnits="${{ secrets.DYNAMODB_TABLE_WRITE_CAPACITY_UNITS }}" \
            --capabilities CAPABILITY_IAM
